.main {
    padding: 10px;
    height: auto;
}

.layout {
    display: flex;
}

.sidebar {
    min-height: auto;
    width: 340px;
    border-radius: 5px;
    background-color: #61c8fb;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    color: white;
}

.content {
    width: 100%;
    height: auto;
}

.header {
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 2px grey;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.body {
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 2px grey;
    background-color: white;
}

.logo {
    font-size: 0.5rem;
    margin: 20px 0px;
}

.logo h6 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}

.menu {
    margin-top: 50px;
}

.menu-item {
    margin-top: 30px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.active {
    background-color: white;
    padding: 10px;
}

.active a,
.active i {
    color: #61c8fb;
}

.header-content {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: auto;
    margin-bottom: 10px;
}

.header-content i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #61c8fb;
}

.header-content a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    margin-left: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo1 {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    margin: 0 15px;
}

.Upload {
    margin: 10px;
}

.logo-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: auto;
}